.chatbox {
    position: absolute;
    left: 25vw;
    top: 10vh;
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.chatbox-messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: calc(100% - 15px);
    min-height: 0;
}

.message {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
    position: relative;
    margin: 1rem 0;
    max-width: 60%;
    text-wrap: wrap;
    width: fit-content;
}

.chatbot-message:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent var(--color-secondary);
    border-width: 15px 15px 15px 0;
    top: 25%;
    left: -15px;
    margin-top: -15px;
}

.user-message {
    margin-left: 40%;
    text-align: end;
    align-self: flex-end;
    filter: brightness(1.3);
}

.user-message:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent var(--color-secondary);
    border-width: 15px 0 15px 15px;
    top: 25%;
    right: -15px;
    margin-top: -15px;
}

.chatbox-input-section {
    width: 80%;
    margin-left: 10%;
    height: 200px;
}

.chatbox-tools {
    color: var(--color-secondary);
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--color-white);
    padding: 1rem 0;
}

.chatbox-ai-tools {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.chatbox-input-field {
    position: relative;
}

.chatbox-input-field textarea{
    width: 100%;
    background-color: var(--color-highlight);
    border-radius: 15px;
    padding: 1rem;
    height: 5rem;
    color: var(--color-secondary);
    font-size: 1rem;
}

.chatbox-input-field textarea:disabled {
    filter: saturate(0.2);
    cursor: not-allowed;
}

.chatbox-hint {
    color: var(--color-secondary);
    text-align: center;
    margin-top: 0.5rem;
}

.chatbox-send-button i {
    position: absolute;
    right: 2rem;
    font-size: 2rem;
    color: var(--color-secondary);
    top: 1.5rem;
}