#page-layout {
    background-color: var(--color-primary);
    height: 100vh;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    position: fixed;
    width: 100vw;
}

main {
    height: calc(100vh);
    overflow-y: hidden;
}