.sidemenu {
    background-color: var(--color-white);
    height: 50vh;
    top: calc(25vh - 2rem);
    z-index: 999;
    width: 100px;
    border-radius: 0 25px 25px 0;
    left: -2px;
    position: relative;
    color: var(--color-black);
    text-align: center;
    mix-blend-mode: hard-light;
}

.sidemenu h2 {
    position: absolute;
    mix-blend-mode: multiply;
    top: -1.2rem;
    width: 100%;
    font-size: 1rem;
    color: var(--color-black);
    font-weight: 300;
}

.sidemenu-buttons {
    font-size: 2rem;
    padding: 5rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidemenu-button {
    color: var(--color-beige);
    z-index: 999;
}

.sidemenu-button:hover {
    cursor: pointer;
    filter: brightness(0.3);
}

.info-box {
    height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    width: 90%;
    margin-left: 10%;
    margin-top: 2rem;
    border-radius: 15px;
}

#personal-info div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: space-between;
}

#personal-info div span {
    font-weight: bold;
}