:root {
  --color-primary: #ede1ce;
  --color-secondary: #f9d72e;
  --color-highlight: #d65b0e;
  --color-white: #fdf9ec;
  --color-black: #1e1918;
  --color-beige: #957c77;
}

/* Horizontal Mobile */
@media (orientation: landscape) and (min-width: 568px) {}

/* Tablets */
@media (orientation: portrait) and (min-width: 666px) {}

/* Tablets Horizontal */
@media (orientation: landscape) and (min-width: 1024px) {}

/* Desktop */
@media (min-width: 1280px) {}

/* TV */
@media (min-width: 1600px) {}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  overscroll-behavior: none;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: block;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}