:root {
  --color-primary: #F29E4B;
  --color-secondary: #2A5C81;
  --color-highlight: #E9663F;
  --color-white: #fff8e9;
}

/* Horizontal Mobile */
@media (orientation: landscape) and (min-width: 568px) {}

/* Tablets */
@media (orientation: portrait) and (min-width: 666px) {}

/* Tablets Horizontal */
@media (orientation: landscape) and (min-width: 1024px) {}

/* Desktop */
@media (min-width: 1280px) {}

/* TV */
@media (min-width: 1600px) {}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  overscroll-behavior: none;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}